/* UNIVERSAL */

html,
body {
  margin:0 auto;
}


body {
  background: #ffffff;  
  background: -webkit-linear-gradient(125.5deg, #FFEBD3 1.34%, #AEE8DD 97.45%), url('../img/grain2.png');
  background: linear-gradient(125.5deg, #FFEBD3 1.34%, #AEE8DD 97.45%), url('../img/grain2.png'); 
  background-size:cover;
  background-blend-mode: multiply;
  margin:0;
  padding:0;
}


.container {
  padding:32px 128px 64px;
}

/* FONTS */

@font-face {
  font-family: 'Nunito Sans Regular';
  src: url('../fonts/nunitosans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans Regular Italic';
  src: url('../fonts/nunitosans-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans Bold';
  src: url('../fonts/nunitosans-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans Bold Italic';
  src: url('../fonts/nunitosans-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Scilla';
  src: url('../fonts/scilla-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Scilla Italic';
  src: url('../fonts/scilla-regularitalic-webfont.woff') format('woff');
}

/* TYPE */

h1 {
  font-family:'Scilla', serif;
  font-size:48px;
  margin:0px;
}

h2 {
  font-size:16px;
  font-family:'Nunito Sans Bold', sans-serif;
  text-transform:uppercase;
  margin-bottom:0;
}


p, ul, li {
  font-family: 'Nunito Sans Regular', sans-serif;
  font-size:20px;
  color:#000;
  line-height:1.4em;
}

ul {
  list-style: none;
  padding-left:0;
}

a {
  color:rgb(41, 89, 84);
  text-decoration:none;
}

a:hover {
  font-family:'Nunito Sans Bold Italic', sans-serif;
}


/* MAIN */

footer {
  display:flex;
  justify-content:space-between;
  align-items: center;
}

footer ul li {
  display:inline-block;
  padding: 0 0 0 1rem;
}


footer ul li a {
  text-decoration:none;
  font-size:20px;
}

hr {
  border:4px solid #000;
}

.intro {
  margin: 32px 0px;
  width:80%;
}

.main {
  display:flex;
  justify-content: flex-start;
  margin:80px 0px 48px 0px;
}

.main img {
  width:35%;
  height:100%;
  margin-right:96px;
}

.section {
  margin:0px 0px 48px 0px;
}

.section h2, .section p {
  margin:0px;
}

.section h2 {
  margin-bottom:16px;
}

.section ul {
  margin-top:0;
}

.section ul li {
  margin-bottom:16px;
}


/* RESPONSIVE */

/* responsive */
@media screen and (min-width: 320px) and (max-width:768px) {
  .container {
    width: 90%;
    padding:24px;
  }

  .intro {
    margin-top:0;
    width:100%;
  }

  h1 {
    font-size:2.2rem;
  }

  p, li, a, footer ul li a {
    font-size:18px;
  }

  h2 {
    font-size:16px;
  }

  .main {
    display:block;
    margin:24px 0 64px;
    width:100%;
  }

  .main img {
    width:85%;
    margin:0 auto;
    
  }

  .about {
    margin:24px 0;
  }

  footer {
    display:block;
    margin-top
  }

  footer ul li {
    padding:0 1rem 0 0;
  }
}


@media screen and (min-width: 768px) and (max-width:960px) {
  .container {
    padding:40px;
    height:100vh;
  }

  .intro {
    margin-top:0;
    width:100%;
  }

  h1 {
    font-size:2.5rem;
  }

  .main {
    margin:64px 0px 24px;
  }

  .main img {
    margin-right:40px;
    width:45%;
  }

}

@media screen and (min-width: 961px) and (max-width:1200px) {
  .container {
    padding:64px;
  }

  .intro {
    margin:0;
    width:100%;
  }

  .main img {
    width:50%;
  }
  
}